/* #Footer */
.site-footer {
	background-color: $footer_bg;
}
.site-footer.style-1 .site-info-first-row {
	background-color: $footer_bg_first;
}
.site-footer.style-1 .site-info-second-row {
	color: $invert_accent_color_1;
}
.site-footer.style-1 .site-info-second-row .footer-copyright a{
	color: $regular_accent_color_1;
}
.site-footer.style-1 .site-info-second-row .footer-copyright a:hover{
	color: $regular_accent_color_4;
}
.footer-area-wrap {
	background-color: $footer_widgets_bg;
}

/* ##Invert Footer Style*/
.invert.footer-area-wrap,
.invert.footer-container {
	color: $invert_text_color;
}
