header#masthead.site-header.style-1 div.top-panel.invert div.container div.top-panel__container div.top-panel__wrap-items div.top-panel__menus {
  justify-content: flex-end;
}

.header-nav-wrapper {
  justify-content: flex-end;
  align-items: center;
}

.address__text {
  padding-right: 10px;
}

.menu-icon {
  padding-right: 10px;
  color: #02AEAE;
}

.phone,
.address__text {
  display: flex;
  align-items: center;
}

#masthead {
  margin-top: 0;
}

.site-logo__link img {
  transition: all .5s ease-out;
}

.site-logo__link img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.site-branding {
  display: flex;
  align-items: center;
}

.logo-desc {
  padding-top: 7px;
  color: #02AEAE;
  font-weight: 400;
  font-size: 22px;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.icon__dent {
  display: flex;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #02AEAE;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 4em;
}

.icon__block {
  text-align: center;
}

#dent-team .cherry-team.team-wrap .team-listing {
  justify-content: center;
}

#dent-testi .tm-testi--default-4 .tm-testi__item .tm-testi-left-col {
  margin-right: 0;
}

#office-galleris .ngg-galleryoverview {
  width: 90%;
  margin: 0 auto;
}

#license-galleris .ngg-galleryoverview {
  width: 92%;
  margin: 0 auto;
}

#gismap iframe {
  border: none !important;
  width: 100%;
  height: 420px;
}

#gisblock .elementor-column-gap-default.elementor-container {
  padding-right: 0;
  padding-left: 0;
}

.wpcf7-form {
  padding: 30px 30px 0 30px;
  margin: 0 auto;
}

.wpcf7-form .form-group input,
.wpcf7-form .form-group > span > textarea {
  box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #02AEAE;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 35px;
  background-color: white;
}

.wpcf7-form .form-group input:hover,
.wpcf7-form .form-group input:focus,
.wpcf7-form .form-group > span > textarea:hover,
.wpcf7-form .form-group > span > textarea:focus {
  background-color: white;
  box-shadow: 0 0 5px #02AEAE;
}

.wpcf7-form div.form-group.name > span > input:focus,
.wpcf7-form div.form-group.email > span > input:focus,
.wpcf7-form div.form-group.phone > span > input:focus,
.wpcf7-form .form-group > span > textarea:focus {
  box-shadow: 0 0 5px #02AEAE;
  border: 1px solid #02AEAE;
  background-color: white;
}

.wpcf7-form div.name {
  width: 33%;
  float: left;
  padding-bottom: 10px;
  padding-right: 10px;
}

.wpcf7-form div.email {
  width: 33%;
  float: left;
  padding-bottom: 10px;
}

.wpcf7-form div.phone {
  width: 33%;
  float: right;
  padding-bottom: 10px;
}

form.wpcf7-form > p {
  margin-bottom: 0;
}

.wpcf7-form .btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0 20px;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 1em 1em;
  color: #FFFFFF;
  background-color: #02AEAE;
  transition: background-color .5s ease-out;
}

.wpcf7-form .btn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-filter: saturate(150%);
  filter: saturate(150%);
}

.wpcf7-form .btn:hover {
  color: white;
  background-color: #333333;
}

.wpcf7-form .btn::-moz-focus-inner {
  border: none;
}

.wpcf7-form .btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(129, 170, 33, 0.5), 0 0 0 1.5px rgba(129, 170, 33, 0.5);
}

.wpcf7-form .form-group br {
  display: none;
}

span.wpcf7-list-item {
  margin: 0;
}

span.wpcf7-list-item label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span.wpcf7-list-item .wpcf7-list-item-label {
  padding-top: 2px;
}

form.wpcf7-form.sent div.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  background-color: white;
  margin-top: 0;
}

.form-group--invert {
  color: white;
}

#form-invert .wpcf7-form {
  padding: 0;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  div.top-panel__menus div.social-list.social-list--header.social-list--icon {
    padding-right: 0;
  }

  #office-galleris .ngg-galleryoverview {
    width: 80%;
  }

  #license-galleris .ngg-galleryoverview {
    width: 55%;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav-wrapper {
    flex-direction: column;
  }

  .site-branding {
    padding-bottom: 15px;
  }

  div.header-nav-wrapper {
    align-items: center;
  }

  .address__text {
    padding-bottom: 10px;
  }

  div.site-branding {
    flex-direction: column;
  }

  #office-galleris .ngg-galleryoverview {
    width: 70%;
  }

  #license-galleris .ngg-galleryoverview {
    width: 70%;
  }

  .wpcf7-form div.name,
  .wpcf7-form div.email,
  .wpcf7-form div.phone {
    width: 100%;
  }

  .wpcf7-form div.name {
    padding-right: 0;
  }
}