@import "../base/_vars";

.table-serv-home {
  border: 1px solid $color-two;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 1em auto 20px auto;
  overflow: hidden;
  width: 100%;
}

table.table__services-home {
  width: 100%;
  border: none;
  margin-bottom: 0;
}

table.table__services-home td, table.table__services-home th {
  padding: 10px;
}

table.table__services-home th, table.table__services-home th sup {
  background-color: $color-two;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

table.table__services-home tr td:nth-child(1) {
  text-align: left;
}

table.table__services-home tr:nth-child(2n+1) td {
  background-color: $color-main;
  color: white;
  &:nth-child(2) {
    white-space: nowrap;
  }
}

table.table__services-home tr:nth-child(2n) td {
  background-color: white;
  color: black;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {

}

@media only screen and (max-width: 767px) {
  table.table__services-home tr:nth-child(2n+1) td:nth-child(2) {
    white-space: normal;
  }
}