<div class="team-listing_photo__wrap">
	%%PHOTO wrap="div" class="team-listing_photo"%%

	<div class="team-listing_photo__overflow">
		
	</div>
</div>

<div class="team-listing__description-wrapper">
	%%NAME wrap="h5" class="team-listing_name" link="true"%%
	%%POSITION wrap="small" class="team-listing_position"%%
	%%EXCERPT wrap="div" class="team-listing_desc"%%
	%%SOCIALS wrap="div" class="team-listing_socials"%%
	%%BUTTON%%
</div>
