/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
.not-found {
	&.error-404 {
		margin: 20px 0;

		@include media-breakpoint-up(md) {
			margin: 61px 0 79px;
		}

		.row {
			@include media-breakpoint-up(md) {
				align-items: center;
				text-align: center;
			}
		}

		h3 {
			margin-bottom: 25px;
		}

		.btn {
			margin-top: 8px;
		}

		.image-404 {
			text-align: center;
		}
	}
	&.no-results {
		margin: 80px 0;
		text-align: center;

		@include media-breakpoint-up(sm) {
			margin: 100px 0;
		}
	}

	.page-title {
		margin: 0 0 20px 0;
		@include media-breakpoint-up(md) {
			margin: 0 0 35px 0;
		}
	}
	.search-form {
		max-width: 800px;
		margin: 35px auto 0;
	}
}
